:root {
/* colors */
	--background: #ffd4e2;
	--lightbackground: #ffe8f0;
	
	--link: #ff91b5;
	--link-active: #ff6195;
	
	--text: #778899;
	--darktext: #56626e;
	
	/*white: 255, 255, 255*/
	--background2-1: rgba(230, 245, 255);
	--background2-1-trans: rgba(230, 245, 255, 0.7);
	--background2-2: rgba(205, 235, 254);
	--background2-3: rgba(175, 225, 253);
	--background2-4: rgba(150, 200, 252);
/* fonts */
	--heading: 'ps2p';
	--basictext: 'pixelify';
	--paragraph: 'cousine reg';
}

@font-face {
	font-family: 'ps2p';
	src: url(fonts/PressStart2P-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'pixelify';
	src: url(fonts/PixelifySans.woff2) format('woff2');
}
@font-face {
	font-family: 'cousine reg';
	src: url(fonts/Cousine-Regular.woff2) format('woff2');
}


/***MAIN*****************************************/

section {float: left;}
aside {float: right;}
div {
	float: left; 
	margin: auto;
}
h1, h2, h3 {font-family: var(--heading), sans-serif;}
h3 {
	font-size: 100%;
	font-weight: normal;
}
p {font-family: var(--paragraph), sans-serif;}
a, a:visited {color: var(--link);}
a:hover {color: var(--link-active);}
.underline span {text-decoration: underline;}
.change span {color: var(--link);}
.fill {
	background-color: white;
	border: 2px solid var(--background); 
	border-radius: 10px;
	padding:1%; 
	margin-bottom:.5%;
}


/***HOME*****************************************/

.home {
	background-color: var(--background); 
	color: var(--text); 
	overflow-x: hidden;
}
.home button, a {
	font-family: var(--basictext), sans-serif;
}
.home p {
	background-color: white; 
	border: 2px solid var(--background); 
	border-radius: 10px;
}


/***LESSON*****************************************/

.lesson {
	background-color: var(--background); 
	color: var(--text); 
	font-family: sans-serif;
	overflow-x: hidden;
}
.lesson h1 {margin-top: 5%;}
.lesson th, td {
	border: 2px solid var(--background); 
	border-radius: 10px;
	padding: 10px; 
	font-weight: normal; 
	text-align: left;
}
	
.lesson th {
	background-color: var(--background);
	font: 20px var(--basictext), sans-serif;
}

.lesson td {
	background-color: white;
	font-family: var(--paragraph), sans-serif;
}
		
.lesson.opposite th {background-color: white;}
.lesson.opposite td {background-color: var(--background);}

.lesson.example th, td {text-align: center;}

/***RESOURCE*****************************************/

.resource {background-color: white;}

.resource h1 {
	margin-top: 5%;
	color: var(--text);
}

.resource nav {
	display: block;
	background-color: var(--background);
	font-size: 100%;
	color: var(--text);
	padding: 1% 0 1% 0;
	text-align: center;
}

.resource table {
	width: 100%;
	padding-bottom: 3%;
}

.resource th, td {
	font-family: var(--paragraph), sans-serif; 
	font-size: 110%;
	font-weight: normal;
	border: none;
	color: var(--text);
	padding-right: 1%;
	padding-bottom: 2%;
	text-align: left;
}

.resource th {
	background-color: white;
}

.resource td {
	background-color: var(--background);
	border: none;
}

.resource .title {
	background-color: var(--background2-2);
	width: 16%;
}

/***ACCORDION*****************************************/

.accordion {
	color: var(--text);
	font-family: var(--basictext), sans-serif;
	cursor: pointer; 
	outline: none; 
	transition: 0.4s;
	font-size: 140%;
	width: 100%; 
	text-align: left; 
	border: none;   
	padding: 12%;
}

.accordion.lessons {background-color: var(--background2-2);}

.accordion.lessons:hover {background-color: var(--background2-3);}

.accordion.resources {background-color: var(--background2-1);}

.accordion.resources:hover {
	background-color: var(--background2-2);
}

.apanel {
	max-height: 0;
	overflow: hidden; 
	transition: max-height 0.2s ease-out;
	border: none;
	width: 100%;
	padding-top: 0 20%;
	font-size: 120%;
	text-align: left;
	color: var(--text);
}

.apanel a {
	display: block;
	float: none;
	border: none;
	text-decoration: none;
	width: 100%;
	overflow: hidden;
	padding-left: 10%;
	color: var(--text);
} 

.apanel. a:hover {color: var(--text);}

.apanel.lessons {background-color: var(--background2-1-trans);}

.apanel.lessons a:hover {background-color: var(--background2-1);}

.apanel.resources {background-color: rgba(255, 255, 255, 0.5);}

.apanel.resources a:hover {background-color: white;}

/***NAVBAR*****************************************/

.navbar {
	overflow: hidden;
	background-color: var(--lightbackground);
	font-family: var(--basictext), sans-serif;
	position: fixed; 
	top: 0;
	margin: -.5%;
	width: 100%;
	text-align: center;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: var(--text);
	text-align: center;
	text-decoration: none;
	width: 20%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	border-right: 1px solid var(--text);
}

.dropdown {
	float: left;
	overflow: hidden;
	width: 20%;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: var(--text);
	font-family: inherit;
	margin: 0;
	width: 100%;
	background-color: var(--lightbackground);
	border-right: 1px solid var(--text);
}

.dropbtn {
	display: block;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
}

.navbar a:hover, .dropdown:hover, .dropbtn:hover {
	background-color: var(--background);
}

.dpanel {
	display: none;
	position: fixed;
	background-color: var(--lightbackground);
	z-index: 1;
	width: 20%;
	border: none;
}

.dpanel a {
	float: none;
	color: var(--text);
	text-decoration: none;
	display: block;
	width: 100%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	border: none;
}

.dpanel a:hover {
	background-color: white;
}

.show {
	display: block;
}
	
/* this is pretty much directly from w3 schools
also, the style is vaguely inspired by www.russianlessons.net */