:root {
/* colors */
	--background: #ffd4e2;
	--lightbackground: #ffe8f0;
	--link: #ff91b5;
	--link-active: #ff6195;
	--text: #778899;
	--darktext: #56626e;
	--background2: #c9ecff;
	--background2hover: #9ed3f0;
	--background2child: #e3f5ff;
/* fonts */
	--heading: 'ps2p';
	--basictext: 'pixelify';
	--paragraph: 'cousine reg';
}

@font-face {
	font-family: 'ps2p';
	src: url(fonts/PressStart2P-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'pixelify';
	src: url(fonts/PixelifySans.woff2) format('woff2');
}
@font-face {
	font-family: 'cousine reg';
	src: url(fonts/Cousine-Regular.woff2) format('woff2');
}

section {float: left;}
aside {float: right;}
div {
	float: left; 
	margin: auto;
}
h1, h2 {font-family: var(--heading), sans-serif;}
p {font-family: var(--paragraph), sans-serif;}
a, a:visited {color: var(--link);}
a:hover {color: var(--link-active);}
span {font-weight: bold;}
nav {background-color: var(--lightbackground); 
	width: 100%;
	position: fixed; 
	top: 0;
	padding: 1.5%;
	margin: -.5%;
}

.home {
	background-color: var(--background); 
	color: var(--text); 
}
.home button, a {
	font-family: var(--basictext), sans-serif;
}
.home p {
	background-color: white; 
	border: 2px solid var(--background); 
	border-radius: 10px;
}

.lesson {
	background-color: var(--background); 
	color: var(--text); 
	font-family: sans-serif;
	}
.lesson h1 {margin-top: 5%;}
.lesson th, td {
	border: 2px solid var(--background); 
	border-radius: 10px;
	padding: 10px; 
	font-weight: normal; 
	text-align: left;
	}
	
.lesson th {
	background-color: var(--background);
	font: 20px var(--basictext), sans-serif;
}

.lesson td {
	background-color: white;
	font-family: var(--paragraph), sans-serif;
}
		
.lesson .opposite th {background-color: white;}
.lesson .opposite td {background-color: var(--background);}

.accordion {
  background-color: var(--background2); 
  color: var(--text);
  font-size: 20px;
  cursor: pointer; 
  padding: 18px;
  width: 100%; 
  text-align: left; 
  border: none; 
  outline: none; 
  transition: 0.4s;
}

.accordion:hover {
  background-color: var(--background2hover);
}

.panel {
  padding: 0 18px;
  padding-top: 0 30px;
  width: 81%;
  font-size: 18px;
  background-color: var(--background2child); 
  float: auto; 
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.2s ease-out;
} 
/* this is pretty much directly from w3 schools
also, the style is vaguely inspired by www.russianlessons.net */